.continer{
width: 500px;
text-align: center;
display: grid;
grid-gap: 5px;
}

header{
   background-color: greenyellow; 
   height: 30px;
   display: flex;
   justify-content: center;
    align-items: center;
}

.all-main{
 display: grid;
 grid-template-columns: 1fr  4fr;
 grid-gap: 2px;

}

.sidebar{
    background-color: rgb(85, 47, 255); 
    grid-row: 1 / 6;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.main{
    background-color: rgb(228, 13, 13); 
    display: grid;
    grid-template-rows: 1fr;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-boxs{
    background-color: rgb(210, 148, 14);
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center
}



footer{
    background-color: greenyellow; 
    height: 30px;
    display: flex;
    justify-content: center;
     align-items: center;
}